

.btn{
    background-color: purple;
    color: blue;
    border: 2px solid blue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}